<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>Shade</string>
    <key>CFBundleExecutable</key>
    <string>Shade</string>
    <key>CFBundleIdentifier</key>
    <string>com.steffen.shade</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Shade</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1</string>
    <key>CFBundleVersion</key>
    <string>110</string>
    <key>CFBundleIconFile</key>
    <string>Shade</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 Steffen Wöll</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>ShadeCodename</key>
    <string>Phobos</string>
</dict>
</plist>
